[Unit]
Description=QEMU virtual machine %i
After=network.target

[Service]
Group=wheel
UMask=002
ExecStartPre=/usr/bin/mkdir -p /run/qemu/%i
ExecStart=/usr/bin/qemu-run /etc/qemu/%i.yaml
ExecStop=/usr/bin/socat system:'echo system_powerdown' /run/qemu/%i/monitor.sock
TimeoutStopSec=60
KillMode=none

[Install]
WantedBy=multi-user.target
